################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/kinniku/v15/Browse.VC.opendb
#
*.suo
*.user
*.userosscache
*.sln.docstaters

#Directory
Debug/
.vs/